.detalles {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: bolder;
}

.botones button {
    margin-left: 15px;
    margin-right: 15px;
}

.cartelToken {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50vh;
    background: rgb(66, 0, 66);
}

.total {
    float: right
}

.detalles p{
    float:right;
}