
 ul {
    list-style:none!important;
    margin-top: 2%;
    padding-left: 0px!important;
   }

 ul li {
    width: 170px!important;
    height: 50px!important;
    text-align: center;
    float: left;
    position: relative
}

.submenu ul{
    background-color: rgb(66, 0, 66);
    position: absolute;
    margin-top: 20px;
    list-style-type: none!important;
    z-index: 1;
    display: none;
    
}

.submenu:hover ul {
    display: block;
}


li:hover {
    background-color: crimson;
}   
   

h1 {

    color: white;
 }  
   
a {
     color:white;
     text-decoration: none;
 }

li {
    color: white
}
 
#menu {
    background-color: rgb(66, 0, 66);
    display: flex!important;
    height: 50px!important;
}

.cartImg {
    max-width: 40px;
    max-height: 40px;
}

